body {
    background-image: url('13.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 100px;
}

.footer {
    background-color: #e3d3c0;
    padding: 70px 60px;
    position: relative;
    color: #4a413a;
    font-family: "Helvetica", sans-serif;
    margin-top: 800px;
}

.footer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        radial-gradient(circle at 0% 0%, rgba(0,0,0,0.05) 1px, transparent 1px),
        radial-gradient(circle at 20% 10%, rgba(0,0,0,0.05) 2px, transparent 2px);
    opacity: 0.2;
    pointer-events: none;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 5;
}

.footer-logo h2 {
    font-size: 32px;
    letter-spacing: 8px;
    margin-bottom: 5px;
}

.footer-logo p {
    letter-spacing: 3px;
    font-size: 14px;
}

.footer-section h3 {
    font-size: 16px;
    letter-spacing: 5px;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 15px;
    line-height: 22px;
    width: 200px;
}

.footer-social {
    margin-top: 40px;
    text-align: center;
    font-size: 22px;
    letter-spacing: 20px;
    position: relative;
    z-index: 10;
}

.footer-bottom {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
}

.footer-bottom a {
    color: #4a413a;
    font-weight: bold;
    text-decoration: none;
}

